{
    "singleQuote": false,
    "jsxBracketSameLine": false,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 160,
    "overrides": [
        {
            "files": ["*.yml"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
